.base {
  border-radius: 99em;
  padding: 10px 20px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  background: yellow;
  color: $colorBackground;
  font-size: 12px;
  font-weight: bold;
}
