.base {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 48px;
  font-weight: bold;
  color: $colorText;
  opacity: 0.3;

  &:after {
    display: inline;
    content: '%';
    font-size: 24px;
    opacity: 0.6;
  }
}

.base.small {
  font-size: 18px;
  top: 8px;
  right: 8px;

  &:after {
    font-size: 9px;
  }
}
