.base {
  border-bottom: 1px solid $colorBorder;
  height: 300px;
  cursor: pointer;
  position: relative;
  background: color(#ffffff a(2%));
}

.color {
  position: absolute;
  top: 0;
  left: -20px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  z-index: 1;
}

.base.active {
  background: color(#ffff88 a(10%));
}
