.base {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 300px);
  height: 100%;
}

.display-switch {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0);
}
