.base {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 300px);
  height: 100%;
}

.logo {
  position: absolute;
  top: 16px;
  left: 20px;
  margin: 0;
  color: $colorText;
  opacity: 0.7;
}

.display-switch {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0);
}
