.base {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.body {
  flex: 1;
  border-right: 1px solid $colorBorder;
}

.sidebar {
  width: 300px;
}
