.base {
  border-bottom: 1px solid $colorBorder;
  height: 300px;
  cursor: pointer;
  position: relative;
}

.color {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 99em;
  z-index: 1;
}

.base.active {
  background: LightYellow;
}
